:root {
    --button-color: rgb(171, 0, 0);
    --item-border-color: black;
    --font-size: 15px;
    --img-width: calc(var(--font-size) * 20);
    --border-radius: calc(var(--font-size) / 1.5);
    --button-text-color: aliceblue;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-size);
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  button {
    background-color: var(--button-color);
    border-radius: var(--border-radius);
    border: 0px solid var(--button-color);
    padding: calc(var(--font-size) / 2);
    color: var(--button-text-color);
    grid-area: button;
  }
  
  button::before {
    content: "In den Warenkorb";
  }
  
  .contentImg {
    height: auto;
    width: var(--img-width);
    grid-area: image;
  }
  
  .navImg {
    height: auto;
    width: calc(var(--font-size) * 3);
  }
  
  .item {
    display: grid;
    grid-template-areas:
      "image"
      "name"
      "liste"
      "button";
    border: calc(var(--font-size) / 8) solid var(--item-border-color);
    border-radius: var(--border-radius);
    margin: calc(var(--font-size) / 2);
    padding: calc(var(--font-size) * 1.5);
  }
  
  .name {
    grid-area: name;
    text-align: center;
    margin-top: var(--font-size);
    font-weight: bolder;
  }
  
  .liste {
    grid-area: liste;
    height: calc(var(--font-size) * 8);
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
    background-color: var(--button-color);
    width: calc(var(--font-size) * 20);
  }
  
  #fullSite {
    display: flex;
    flex-direction: row;
  }
  
  .navitem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .navtext {
    /*vertical-align: middle;*/
  }
  
  @media (max-width: 1100px) {
    #fullSite {
      flex-direction: column;
    }
  
    .navbar {
      flex-direction: row;
      width: 75%;
    }
  }
  
  @media (max-width: 6100px) {
    .navtext {
      display: none;
    }
  }
   